#Ignore all files in the 'bin' repository
bin/

#Ignore all files in the 'obj' repository
obj/

#Ignore 'wwwroot' repository
wwwroot/

#Ignore 'properties' repository
properties/

#Ignore all .vs repositories
.vs/

#Ignore .editorconfig file
.editorconfig

#Ignore .json files
*.json
