<div class="px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Список разделов</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h2>Заявки</h2>
            <p>Данный раздел содержит информацию обо всех заявках на курсы. В списках содержаться заявки в ожидании, а также подтверженные заявки.</p>
            <a class="icon-link" asp-controller="Requests" asp-action="Index">
                Перейти
            </a>
        </div>
        <div class="feature col">
            <h2>Курсы</h2>
            <p>Списко доступных курсов с их описанием и предполагаемой датой начала. Имеется возможность добавлять и удалять курсы.</p>
            <a class="icon-link" asp-controller="Courses" asp-action="Index">
                Перейти
            </a>
        </div>
        <div class="feature col">
            <h2>Группы</h2>
            <p>Полный список текущих групп по различным курсам. В свойствах группы вы найдете список студентов, а также преподавателя группы.</p>
            <a class="icon-link" asp-controller="StudentsGroups" asp-action="Index">
                Перейти
            </a>
        </div>
        <div class="feature col">
            <h2>Преподаватели</h2>
            <p>Раздел содержит список текущих преподавателей с краткой информацией о каждом. Всегда есть возможность добавить нового преподавателя.</p>
            <a class="icon-link" asp-controller="Teachers" asp-action="Index">
                Перейти
            </a>
        </div>
        <div class="feature col">
            <h2>Студенты</h2>
            <p>Здесь вы можете посмотреть полный список наших студентов, а также найти контактные данные каждого ученика.</p>
            <a class="icon-link" asp-controller="Students" asp-action="Index">
                Перейти
            </a>
        </div>
    </div>
</div>