<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-self-center" id="modalLabel">Подтвержение</h5>
                <!-- Close button -->
                <button class="btn-close" data-dismiss="modal" aria-label="close" asp-controller="Home" asp-action="RefreshWindow"></button>
                <!-- Clost button -->
            </div>
            <div class="modal-body">
                Заявка отправлена. Спасибо что выбрали наше учебное заведение.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary btn-warning" data-dismiss="modal" asp-controller="Home" asp-action="RefreshWindow">Ok</button>
            </div>
        </div>
    </div>
</div>