@{ ViewData["Title"] = "Add student"; }
<div class="small-pannel">
    <h2>Add Student</h2>
    @using (Html.BeginForm("AddStudent", "Students", FormMethod.Post))
    {
        <div class="form-group">
            <label for="FirstName">FirstName</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" required>
        </div>
        <div class="form-group">
            <label for="MiddleName">MiddleName</label>
            <input type="text" class="form-control" id="MiddleName" name="MiddleName" required>
        </div>
        <div class="form-group">
            <label for="LastName">LastName</label>
            <input type="text" class="form-control" id="LastName" name="LastName" required>
        </div>
        <div class="form-group">
            <label class="form-check-label" for="Age">Age</label>
            <input type="number" class="form-control" id="Age" name="Age" required>
        </div>
        <div class="form-group">
            <label for="Gender">Gender</label>
            <input type="text" class="form-control" id="Gender" name="Gender" required>
        </div>
        <div class="form-group">
            <label for="CurrentEnglishLevel">CurrentEnglishLevel</label>
            <input type="text" class="form-control" id="CurrentEnglishLevel" name="CurrentEnglishLevel" required>
        </div>

        <button type="submit" class="btn btn-success">Add student</button>}
</div>