@model RequestModel
@using CRM_for_English_School.BLL.Entities;
@{ ViewData["Title"] = "Добавление запроса"; }
<div class="container">
    <h2>Добавить запрос</h2>
    @using (Html.BeginForm("AddRequest", "Requests", FormMethod.Post))
    {
        <div>
            @Html.ValidationSummary()
        </div>

        <div class="row g-3">
            <div class="col-md-6">
                <label asp-for="LastName" class="form-label px-1">Фамилия</label>
                <input type="text" class="form-control" id="LastName" name="LastName" asp-for="LastName">
                <span class="alert-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="FirstName" class="form-label">Имя</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" asp-for="FirstName">
                <span class="alert-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="MiddleName" class="form-label">Отчество</label>
                <input type="text" class="form-control" id="MiddleName" name="MiddleName" asp-for="MiddleName">
                <span class="alert-danger" asp-validation-for="MiddleName"></span>
            </div>
            <div class="col-md-12">
                <label class="form-check-label" asp-for="BirthDate">Дата рождения</label>
                <input type="text" class="form-control" id="BirthDate" name="BirthDate" asp-for="BirthDate">
                <span asp-validation-for="BirthDate" class="alert-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Email">Email</label>
                <div class="input-group">
                    <span class="input-group-text">@@</span>
                    <input type="text" class="form-control" id="Email" name="Email" asp-for="Email">
                    <span asp-validation-for="Email" class="alert-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <label asp-for="PhoneNumber">Номер телефона</label>
                <div class="input-group">
                    <span class="input-group-text">+375</span>
                    <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" asp-for="PhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="alert-danger"></span>
                </div>
            </div>
            <div class="col-sm-12">
                <label asp-for="CourseId" class="col-form-label">Курс</label>
                <select class="form-select" asp-for="CourseId">
                    <option value=""></option>
                    @foreach (var course in (List<CourseModel>)ViewBag.Courses)
                    {
                        <option value="@course.Id">@course.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label asp-for="CurrentEnglishLevel">Текущий уровень владения языком</label>
                <div>
                    <select class="form-select" asp-for="CurrentEnglishLevel" asp-items="Html.GetEnumSelectList<EnglishLevel>()">
                        <option selected="selected" value="Please select"></option>
                    </select>
                    <span asp-validation-for="CurrentEnglishLevel" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <label asp-for="RequestStatus">Статус</label>
                <div>
                    <select class="form-select" asp-for="RequestStatus" asp-items="Html.GetEnumSelectList<RequestStatus>()">
                        <option selected="selected" value="Please select"></option>
                    </select>
                    <span asp-validation-for="RequestStatus" class="text-danger"></span>
                </div>
            </div>
        </div>

        <br />
        <button type="submit" class="btn btn-success">Добавить</button>}
</div>


@section Scripts{ @await Html.PartialAsync("_ValidationScriptsPartial.cshtml") }